**/UserInterfaceState.xcuserstate
**.xccheckout
*.DS_Store
**/contents.xcworkspacedata
**.xcscheme
**/build/**

DBDomain/DBDomain.framework/
DBDomain/build/**
**/DBDomaim.build/**
SecurityDomain/SecurityDomain.framework/
SecurityDomain/build/
**/SecurityDomain.build/**
*/SecurityDomain.xccheckout
ChatDomain/ChatDomain n.framework/
ChatDomain/build/
**/ChatDomain.build/**
*/ChatDomain.xccheckout

**/XMPPDomain/build/**
XMPPDomain/build/**
NotificationDomain/build/
NoteDomain/build/
*/SIPDomain/build/*
*/LogDomain/build/*
**/DerivedData/**

ContactDomain/build/
**/ContactDomain.build/**
*/ContactDomain.xccheckout

EmailDomain/EmailDomain/build/
**/EmailDomain.build/**
*/EmailDomain.xccheckout
**/MailCore/build-mac/build/**
EmailDomain/**/UserInterfaceState.xcuserstate
Satay/Satay.xcodeproj/xcuserdata/arpana.xcuserdatad/xcschemes/xcschememanagement.plist
Satay/Satay.xcodeproj/project.xcworkspace/xcuserdata/arpana.xcuserdatad/UserInterfaceState.xcuserstate
**/EmailDomain/EmailDomain/MailCore/build-mac/**