<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>732DC3011A64FA3400F4E37D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7337DE561A528F0F00600DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7337DE611A528F0F00600DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
